html, body{
  height: 100%;
  font-size: 1rem;
}

body>div{
  height: 100%;
}

:hover{
  transition-duration: 250ms;
}

.App{
  background-color: #f0f0f0;
  padding-bottom: 50px;
  min-height: 100%;
}

main{
  margin-top:30px;
  margin-bottom : 30px;
}

header{
  background-color: #074185;
  color : #ffffff;
  padding-top: 1%;
  padding-bottom: 1%;
}

header h1 svg{
  color: goldenrod
}

header a.btn{
  color : #ffffff;
  border: solid 2px #ffffff;
  border-radius: 5px;
}

header a.btn:hover,
header a.btn.active{
  background-color:  #ffffff;
  color : #074185;
}

.yellow {
    color: goldenrod;
}

.localisation{
  padding: 3rem 2rem;
}

.meteocard{
  padding: 3rem 2rem;
  background-color: rgba(245, 245, 245, 0.9);
  border: 2px #074185 solid;
  border-radius: 10px;
}

.meteominicard{
  background-color: rgba(245, 245, 245, 0.9);
  border: 2px #074185 solid;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input:focus, button:focus, .btn:focus{
  box-shadow:none;
  outline: none;
}

/* input.form-control{
  border-color: #074185;
  border-width: 2px;
} */

.btn-save{
  background-color: #ffffff;
  color: #074185;
  border: 2px #074185 solid;
  border-radius: 5px;
  font-weight: 600;
}

.btn-save:hover{
  background-color: #074185;
  color: #ffffff
}

.btn-delete,
.btn-edit{
  border: 1px solid;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  height:35px;
  width: 35px;
}

.btn-edit{
  color:#07854b;
  border-color: #07854b;
}

.btn-delete{
  color: #850c07;
  border-color: #850c07;
}

.btn-edit:hover,
.btn-delete:hover{
  font-weight: 600;
  color: #fcfcfc;
}


.btn-edit:hover{
  background-color: #07854b;
}

.btn-delete:hover{
  background-color: #850c07;
}

.iconCard{
  background-color: #074185;
  border-radius: 5px;
  border:none;
}

footer{
  background-color:#d8d8d8
}

.map{
  position: relative;
  height: 580px
}

.mapImg{
  position: absolute;
  top:0;
  left:0;
}

.meteoImg{
  position: absolute;
}

.margintop{
  margin-top:-20px
}